article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
    display: block;
}
audio, canvas, video {
    display: inline-block;
}
audio:not([controls]) {
    display: none;
    height: 0;
}
[hidden] {
    display: none;
}
html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%}
body {
    margin: 0;
    padding: 0;
}
a:focus {
    outline: thin dotted;
}
a:active, a:hover {
    outline: 0;
}
h1 {
    font-size: 2em;
}
abbr[title] {
    border-bottom: 1px dotted;
}
b, strong {
    font-weight: 700;
}
dfn {
    font-style: italic;
}
mark {
    background: #ff0;
    color: #000;
}
code, kbd, pre, samp {
    font-family: monospace, serif;
    font-size: 1em;
}
pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}
q {
    quotes: "\201C" "\201D" "\2018" "\2019"}
small {
    font-size: 80%}
sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup {
    top: -.5em;
}
sub {
    bottom: -.25em;
}
img {
    border: 0;
}
svg:not(:root) {
    overflow: hidden;
}
figure {
    margin: 0;
}
fieldset {
    border: 1px solid silver;
    margin: 0 2px;
    padding: .35em .625em .75em;
}
legend {
    border: 0;
    padding: 0;
}
button, input, select, textarea {
    font-family: inherit;
    font-size: 100%;
    margin: 0;
}
button, input {
    line-height: normal;
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}
button[disabled], input[disabled] {
    cursor: default;
}
input[type="checkbox"], input[type="radio"] {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}
input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}
button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0;
    padding: 0;
}
textarea {
    overflow: auto;
    vertical-align: top;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

.sc-background-orange {
    background-color: #f50;
    background-image: linear-gradient(to bottom, #f70 0%, #f30 100%);
}
.sc-background-blue {
    background-color: #06c;
}
.sc-background-darkgrey {
    background-color: #333;
}
.sc-background-grey {
    background-color: #666;
}
.sc-background-lightgrey {
    background-color: #999;
}
.sc-background-white {
    background-color: #fff;
}
.sc-background-dark {
    background-color: #e5e5e5;
}
.sc-background-light {
    background-color: #f2f2f2;
}
.sc-border-dark {
    border: 1px solid #e5e5e5;
}
.sc-border-dark-top {
    border-top: 1px solid #e5e5e5;
}
.sc-border-dark-right {
    border-right: 1px solid #e5e5e5;
}
.sc-border-dark-bottom {
    border-bottom: 1px solid #e5e5e5;
}
.sc-border-dark-left {
    border-left: 1px solid #e5e5e5;
}
.sc-border-light {
    border: 1px solid #f2f2f2;
}
.sc-border-light-top {
    border-top: 1px solid #f2f2f2;
}
.sc-border-light-right {
    border-right: 1px solid #f2f2f2;
}
.sc-border-light-bottom {
    border-bottom: 1px solid #f2f2f2;
}
.sc-border-light-left {
    border-left: 1px solid #f2f2f2;
}
.sc-border-orange {
    border: 1px solid #f50;
}
.sc-border-orange-top {
    border-top: 1px solid #f50;
}
.sc-border-orange-right {
    border-right: 1px solid #f50;
}
.sc-border-orange-bottom {
    border-bottom: 1px solid #f50;
}
.sc-border-orange-left {
    border-left: 1px solid #f50;
}
.sc-border-box {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.sc-browsers-enable-gpu {
    -webkit-transform: translate3d(0, 0, 0);
}
.sc-font {
    font-family: "Interstate", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Garuda, Verdana, Tahoma, sans-serif;
}
.sc-font-light {
    font-family: "Interstate", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Garuda, Verdana, Tahoma, sans-serif;
    font-weight: 100;
}
.sc-font-body {
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Garuda, Verdana, Tahoma, sans-serif;
}
textarea, select, input[type="text"], input[type="email"], input[type="tel"], input[type="url"], input[type="date"], input[type="password"], input[type="search"] {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
textarea::-webkit-input-placeholder, select::-webkit-input-placeholder, input[type="text"]::-webkit-input-placeholder, input[type="email"]::-webkit-input-placeholder, input[type="tel"]::-webkit-input-placeholder, input[type="url"]::-webkit-input-placeholder, input[type="date"]::-webkit-input-placeholder, input[type="password"]::-webkit-input-placeholder, input[type="search"]::-webkit-input-placeholder {
    color: #999;
    font-weight: 100;
}
textarea:-moz-placeholder, select:-moz-placeholder, input[type="text"]:-moz-placeholder, input[type="email"]:-moz-placeholder, input[type="tel"]:-moz-placeholder, input[type="url"]:-moz-placeholder, input[type="date"]:-moz-placeholder, input[type="password"]:-moz-placeholder, input[type="search"]:-moz-placeholder {
    color: #999;
    font-weight: 100;
}
input[type="search"] {
    -webkit-appearance: none;
}
button[disabled], input[disabled] {
    color: #999;
}
textarea, select, button, input {
    font-family: inherit;
    color: #333;
}
textarea, select, input {
    background: #fff;
    border: 1px solid #ccc;
}
textarea:focus, select:focus, input[type="text"]:focus, input[type="email"]:focus, input[type="tel"]:focus, input[type="url"]:focus, input[type="date"]:focus, input[type="password"]:focus, input[type="search"]:focus {
    outline: 0;
    border-color: #999;
}
input[type="checkbox"], input[type="radio"] {
    vertical-align: bottom;
}
.sc-hyphenate {
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

.sc-input {
    display: inline-block;
    font-family: "Interstate", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Garuda, Verdana, Tahoma, sans-serif;
    font-weight: 100;
    font-size: 14px;
    line-height: 20px;
    padding: 2px 7px;
    border-radius: 4px;
    border: 1px solid #ccc;
    transition: border-color .1s;
}
.sc-input-small {
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Garuda, Verdana, Tahoma, sans-serif;
    font-size: 11px;
    line-height: 16px;
    padding: 2px 6px;
    border-radius: 3px;
}
.sc-input-large {
    font-size: 18px;
    line-height: 24px;
    padding: 7px 8px;
    border-radius: 5px;
}

a, a:visited {
    color: #38d;
    text-decoration: none;
}
a:hover {
    color: #333;
}
a.sc-link-dark {
    color: #333;
}
a.sc-link-medium {
    color: #666;
}
a.sc-link-light {
    color: #999;
}
a.sc-link-verylight {
    color: #ccc;
}
a.sc-link-white {
    color: #fff;
}
a.sc-link-dark:hover {
    color: #000;
}
a.sc-link-medium:hover {
    color: #000;
}
a.sc-link-light:hover {
    color: #333;
}
a.sc-link-verylight:hover {
    color: #999;
}
a.sc-link-white:hover {
    color: #fff;
}
ul, ol {
    padding: 0;
    margin: 0 0 18px 25px;
}
ul ul, ul ol, ol ol, ol ul {
    margin-bottom: 0;
}
ul {
    list-style: none;
}
ol {
    list-style: decimal;
]
.sc-media, .sc-media-content, .sc-media-body {
    overflow: hidden;
}

.sc-media-image, .sc-media-left {
    float: left;
    margin-right: 10px;
}
.sc-media-extra, .sc-media-right {
    float: right;
    margin-left: 10px;
}
.sc-media-object, .sc-media-image .sc-artwork, .sc-media-extra .sc-artwork {
    display: block;
}
.sc-pointer {
    cursor: pointer;
}
.sc-promoted-icon {
    display: inline-block;
    padding-left: 15px;
    background-repeat: no-repeat;
}
.sc-promoted-icon-small {
    background-size: 12px 11px;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Garuda, Verdana, Tahoma, sans-serif;
    font-size: 11px;
    line-height: 11px;
}
.sc-tag, .sc-tag: visited {
    position: relative;
    display: inline-block;
    height: 20px;
    padding: 0 7px;
    background: #999;
    border: 1px solid #999;
    border-left-width: 0;
    color: #fff;
    font-family: "Interstate", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Garuda, Verdana, Tahoma, sans-serif;
    font-weight: 100;
    font-size: 14px;
    line-height: 20px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .4);
    white-space: nowrap;
    cursor: pointer;
    border-radius: 3px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.sc-tag:before {
    content: "#";
    display: block;
    float: left;
    margin-right: 3px;
}
.sc-tag:hover {
    background: #666;
    border-color: #666;
    color: #fff;
}
.sc-tag-selected, .sc-tag-selected:hover, .sc-tag-selected:visited {
    background-color: #f50;
    border-color: #f50;
}
.sc-tag-selected:hover:before, .sc-tag-selected:before {
    border-color: transparent #f50 transparent transparent;
}
.sc-tag-small, .sc-tag-small:visited {
    height: 16px;
    padding: 0 6px;
    line-height: 16px;
    font-size: 12px;
}
.sc-tag-small:before {
    margin-right: 2px;
}
.sc-tag-large, .sc-tag-large:visited {
    height: 24px;
    padding: 0 8px;
    line-height: 24px;
    font-size: 16px;
}
.sc-tag>.sc-truncate {
    display: inline-block;
}
.sc-tag-group {
    list-style: none;
    margin: 0;
}
.sc-tag-group:before, .sc-tag-group:after {
    content: "";
    display: table;
}
.sc-tag-group:after {
    clear: both;
}
.sc-tag-group>.sc-tag {
    float: left;
    margin: 0 6px 6px 0;
}
.sc-tag-group>.sc-tag-small {
    margin: 0 5px 5px 0;
}
.sc-tag-group>.sc-tag-large {
    margin: 0 7px 7px 0;
}
.sc-tag-group>.sc-tag:last-child {
    margin-right: 0;
}
.sc-text {
    color: #333;
}
.sc-text-light {
    color: #999;
}
.sc-text-verylight {
    color: #ccc;
}
.sc-text-link {
    color: #06c;
}
.sc-toggle {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    width: 50px;
    height: 29px;
    border: 2px solid #e5e5e5;
    border-radius: 15px;
    transition: all 200ms;
    position: relative;
    background: #fff;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.sc-toggle:before {
    content: '';
    position: absolute;
    left: -2px;
    top: -2px;
    width: 50px;
    height: 29px;
    background: linear-gradient(#f70, #f50);
    transition: opacity 200ms;
    opacity: 0;
    border-radius: 15px;
}
.sc-toggle.sc-toggle-active:before {
    opacity: 1;
}
.sc-toggle-handle {
    position: absolute;
    z-index: 1;
    left: 0;
    top: -1px;
    width: 27px;
    height: 27px;
    background: #fff;
    display: block;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, .25);
    border-radius: 15px;
    transition: all 200ms;
}
.sc-toggle-active .sc-toggle-handle {
    left: 20px;
}
.sc-toggle-icon-active, .sc-toggle-icon-inactive {
    position: absolute;
    top: 2px;
    left: 2px;
    transition: opacity 200ms;
}
.sc-toggle-medium .sc-toggle-icon-active, .sc-toggle-medium .sc-toggle-icon-inactive {
    top: 4px;
    left: 5px;
}
.sc-toggle-active .sc-toggle-icon-inactive {
    opacity: 0;
}
.sc-toggle-icon-active {
    opacity: 0;
}
.sc-toggle-active .sc-toggle-icon-active {
    opacity: 1;
}
.sc-truncate {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: normal;
}
body {
    font: 12px/1.4 "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Garuda, Verdana, Tahoma, sans-serif;
}
h1, .sc-type-h1, h2, .sc-type-h2, h3, .sc-type-h3, h4, .sc-type-h4, h5, .sc-type-h5, h6, .sc-type-h6 {
    font-family: "Interstate", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Garuda, Verdana, Tahoma, sans-serif;
    font-weight: 400;
    margin: 18px 0 0 0;
    line-height: 1.3;
}
h1:first-child, .sc-type-h1:first-child, h2:first-child, .sc-type-h2:first-child, h3:first-child, .sc-type-h3:first-child, h4:first-child, .sc-type-h4:first-child, h5:first-child, .sc-type-h5:first-child, h6:first-child, .sc-type-h6:first-child {
    margin-top: 0;
}
h1, .sc-type-h1 {
    font-size: 32px;
}
h2, .sc-type-h2 {
    font-size: 16px;
}
h3, .sc-type-h3 {
    font-size: 14px;
}
h4, .sc-type-h4 {
    margin-top: 0;
}
p {
    margin: 0 0 10px 0;
}
hr {
    background: #ccc;
    position: relative;
    height: 1px;
    margin: 18px 0 17px 0;
    border: none;
    width: 100%}
b, strong {
    font-weight: 400;
}
pre, code {
    font-family: 'Monaco', 'Courier New', monospace, serif;
    font-size: 1em;
}
.sc-type-small {
    font-size: 14px;
    font-family: "Interstate", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Garuda, Verdana, Tahoma, sans-serif;
    font-weight: 100;
}
.sc-type-medium {
    font-size: 16px;
    font-family: "Interstate", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Garuda, Verdana, Tahoma, sans-serif;
    font-weight: 100;
}
.sc-type-large {
    font-size: 18px;
    font-family: "Interstate", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Garuda, Verdana, Tahoma, sans-serif;
    font-weight: 100;
}
.sc-type-light {
    font-weight: 100;
    color: #999;
}
h1>.sc-type-light, .sc-type-h1>.sc-type-light {
    font-size: 16px;
}
h2>.sc-type-light, .sc-type-h2>.sc-type-light {
    font-size: 14px;
}
h3>.sc-type-light, .sc-type-h3>.sc-type-light {
    font: 12px/1.4 "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Garuda, Verdana, Tahoma, sans-serif;
}
.sc-ir {
    border: 0;
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
    background-color: transparent;
}
.sc-hidden {
    display: none!important;
    visibility: hidden;
}
.sc-visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.sc-visuallyhidden.sc-focusable:active, .sc-visuallyhidden.sc-focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}
.sc-invisible {
    visibility: hidden;
}
.sc-hr {
    border-top: 1px solid #EBEBEB;
    border-bottom: 1px solid #FFF;
    height: 0;
}
.sc-button-text, .sc-button-text:hover, .sc-button-text:focus {
    border-color: transparent;
    background: 0 0;
    box-shadow: none;
    text-shadow: 0 1px 0 #fff;
}
.sc-button-text {
    color: #999;
}
.sc-button-text:hover, .sc-button-text:focus {
    color: #666;
}
.sc-button-small.sc-button-text {
    padding-left: 0;
    padding-right: 0;
}

#flashAudioObject-container {
    position: fixed;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
#flashAudioObject-container.blocked {
    top: 0;
    right: 100px;
    width: 46px;
    height: 46px;
    z-index: 4000;
}
#flashAudioObject {
    width: 46px;
    height: 46px;
    max-width: 46px;
    max-height: 46px;
}
.l-container {
    padding: 0 30px;
    width: 1180px;
    margin: 0 auto;
}
.l-container:before, .l-container:after {
    content: "";
    display: table;
}
.l-container:after {
    clear: both;
}
.l-container.l-content {
    padding-top: 46px;
}
.l-container.l-fullwidth {
    width: 1240px;
    padding: 0;
}
.l-inner-fullwidth {
    margin-left: -30px;
    margin-right: -30px;
}
@media (max-width:1239px) {
    .l-container {
    width: 1020px;
}
.l-container.l-fullwidth {
    width: 1080px;
}
}@media (max-width:1079px) {
    .l-container {
    width: 920px;
    padding: 0 20px;
}
.l-container.l-fullwidth {
    width: 960px;
}
.l-inner-fullwidth {
    margin-left: -20px;
    margin-right: -20px;
}
}@media screen and (max-width:959px) {
    @-ms-viewport {
    width: 768px;
}
}
.l-fixed {
    position: fixed;
}
.left {
    float: left;
}
.right {
    float: right;
}
.fixed {
    position: fixed;
}
.disabled {
    opacity: .5;
}